body {
  font-family: lato;
  background: url('https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1351&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-container {
  display: flex;
  background: #0A2239;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 3px 2px 3px #FAF189;
}
.logo img {
  width: 120px;
  height: 120px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 3px 2px 3px #FAF189;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #8e2735;
  width: 50vw;
  height: 45px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 6px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 3px 2px 3px #FAF189;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-left: 40px;
}
.menu-quote-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.quote {
  color: #FAF189;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 25px;
}
a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transition: 0.3s ease;
  border-right: 25px solid transparent;
  color: #FAF189;
}
a:hover {
  border-radius: 8px;
  color: #0A2239;
  text-shadow: 2px 2px #FAF189;
}
@media (max-width: 760px) {
  .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    width: 190px;
    height: 120px;
    line-height: 7px;
    margin: 0 auto;
    margin-top: 25px;
  }
}
@media (max-width: 750px) {
  .logo img {
    display: flex;
  }
}
@media (max-width: 570px) {
  .quote {
    font-size: 14px;
  }
}
.quote {
  opacity: 0;
  display: block;
  animation: slidein 3s ease-out forwards;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
button {
  width: 130px;
  height: 25px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 33%;
  margin-bottom: 5px;
  opacity: 0.6;
  border: 2px solid #8e2735;
  font-weight: bold;
  background: #0A2239;
  color: #FAF189;
}
button:hover {
  opacity: 1;
  height: 28px;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}
.container img {
  object-fit: fill;
  height: 250px;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}
.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
  border-radius: 8px;
}
.content-image {
  width: 100%;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.6);
  border: 10px solid;
  border-top-color: #0A2239;
  border-left-color: #0A2239;
  border-bottom-color: #0A2239;
  border-right-color: #0A2239;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  color: white;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p {
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom {
  top: 80%;
}
.fadeIn-top {
  top: 20%;
}
.fadeIn-left {
  left: 20%;
}
.fadeIn-right {
  left: 80%;
}
.btn-info-box {
  flex-direction: column;
  border: 5px solid #8e2735;
  width: 200px;
  height: 240px;
  display: flex;
  margin-left: 35px;
  margin-top: 120px;
  color: #8e2735;
  background: #0A2239;
  align-items: center;
  border-radius: 8px;
}
@media screen and (max-width: 750px) {
  .btn-info-box {
    margin-left: 8px;
  }
}
.text {
  text-align: center;
  color: #FAF189;
  font-family: 'Source Sans Pro', sans-serif;
}
.button-signUp {
  align-content: center;
  margin-right: 60px;
  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 3px solid #8e2735;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  background: #FAF189;
  margin-left: 50px;
  margin-top: 25px;
  padding-top: 7px;
  color: #0A2239;
  font-family: 'Source Sans Pro', sans-serif;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.button-signUp:hover {
  color: #FAF189;
  background: #0A2239;
  border: 2px solid #8e2735;
}
.footer {
  margin-top: 60px;
  margin-left: 47vw;
  font-family: 'Source Sans Pro', sans-serif;
}
